.Profile{
    text-align: left !important;
    width: calc(100% - 280px);
    height: inherit;
    margin-left: auto;
    .section-title {
        font-size: 2rem;
        position: relative;
        padding-left: 1.5rem;
    }
    .section-title::before{
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background: #54B689;
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media (max-width: 991.98px) {
    .Profile{
        width: 100%;
    }
    
}