body.active-modal {
  overflow-y: hidden;
}

.portfolio-modal {
  width: inherit;
  height: 100vh;
  top: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  .overlay {
    // to controle the modal close click outside the modal
    width: inherit;
    height: 100vh;
    top: 0;
    bottom: 0;
    position: fixed;
  }
  .modal-content {
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 14px 28px;
    border-radius: 3px;
    .modal-close {
      z-index: 1;
      background: none;
      border: none;
      width: 24px;
      position: absolute;
      top: 10px;
      right: 40px;
    }
    .modal-header{
      font-size: xx-large;
      font-weight: bold;
    }
  }
}
