.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-section {
  text-align: left !important;
  width: calc(100% - 280px);
  height: inherit;
  margin-left: auto;
}

@media (max-width: 991.98px) {
  .content-section {
    width: 100%;
  }
}

hr:not([size]) {
  height: 1px;
}
hr {
  border-color: rgba(0, 0, 0, 0.08);
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.theme-bg-light {
  background: #fafafa !important;
}
